body{
    /*background: #5D6D7E ;*/
    /*background: #734338;*/
    /*background:#6A8372;*/
    background:#4D5139;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.reset{
    width: 20%;
    position: fixed;
    top: 65%;
    left: 1%;
    height: 10%;
    margin: 30px 30px;
    padding: 10px;
    border-radius: 5px;
}

.reset input{
    width: 28%;
    position: fixed;
    display: block;
    height: 40px;
    margin: 5px auto;
    border: none;
    outline: none;
    background: #577C8A;
    color: #F8F9F9;
    border: 4px solid #566573 ;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.reset input:hover{
    box-shadow: 0 2px 2px 0 #ccc,0 2px 3px 0 #ccc;
    opacity: 0.7;
}

.main-section{
    background: transparent;
    max-width: 500px;
    width: 90%;
    height: 500px;
    margin: 30px auto;
    border-radius: 10px;
}

.add-section{
    width: 100%;
    background: #EBEDEF;
    margin: 30px 30%;
    padding: 10px;
    border: 2.5px solid #5D6D7E;
    border-radius: 5px;
}

.add-section input{
    display: block;
    width: 95%;
    height: 40px;
    margin: 10px auto;
    border: 2.5px solid #85929E ;
    font-size: 16px;
    border-radius: 5px;
    padding: 0px 5px;
}

.add-section button{
    display: block;
    width: 95%;
    height: 40px;
    margin: 0px auto;
    border: none;
    outline: none;
    background: #6A8372;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.add-section button:hover{
    box-shadow: 0 2px 2px 0 #ccc,0 2px 3px 0 #ccc;
    opacity: 0.7;
}

.add-section button span{
    border: 2px solid #fff;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    width: 18px;
    height: 21px;
}

#errorMes{
    display: block;
    background: #f2dede;
    width: 95%;
    margin: 0px auto;
    color: rgb(139,19,19);
    padding: 10px;
    height: 35px;
}

.show-todo-section{
    width: 100%;
    background: #EBEDEF;
    margin: 30px 30%;
    padding: 10px;
    border-radius: 5px;
}

.show-image{
    width: 100%;
    background: #EBEDEF;
    margin: 30px 30%;
    padding: 10px;
    border-radius: 5px;
}

.todo-item{
    width: 95%;
    margin: 10px auto;
    padding: 20px 10px;
    box-shadow: 0 4px 8px 0 rgb(170, 168, 168), 0 6px 20px 0 rgb(156, 155, 155);
    border-radius: 5px;
}

.cloume-item{
    width: 90%;
    margin: 15px 25px;
    padding: 20px 10px;
    box-shadow: 0 4px 8px 0 rgb(170, 168, 168), 0 6px 20px 0 rgb(156, 155, 155);
    border-radius: 5px;
}

.cloume-item h2{
    display: inline-block;
    padding: 5px 0px;
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(61, 60, 60);
}

.cloume-item small{
    display: block;
    width: 100%;
    padding: 5px 0px;
    color: rgb(112, 111, 111);
    padding-left: 30px;
    font-size: 15px;
    font-family: sans-serif;
}

.remove-to-do{
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    font-family: sans-serif;
    color: rgb(139,97,93);
    text-decoration: none;
    text-align: right;
    padding: 0px 5px 8px 0px;
    border-radius: 50%;
    transition: background 1s;
    cursor: pointer;
}

.remove-to-do:hover{
    background: rgb(139,97,93);
    color: #fff;
}

.search-to-do{
    /*position: fixed;
    top: 5%;
    left: 1%;
    width: 30%;
    height: 20%;
    background: #EBEDEF;
    margin: 0px auto;
    padding: 10px;
    border: 2.5px solid #5D6D7E;
    border-radius: 5px;*/
    width: 30%;
    position: fixed;
    top: 10%;
    left: 1%;
    background: #EBEDEF;
    margin: 30px 30px;
    padding: 10px;
    border-radius: 5px;
    border: 2.5px solid #5D6D7E;
}

.search-to-do input{
    display: block;
    width: 95%;
    height: 40px;
    margin: 10px auto;
    border: 2.5px solid #85929E ;
    font-size: 16px;
    border-radius: 5px;
    padding: 0px 5px;
}

.search-to-do button{
    display: block;
    width: 95%;
    height: 40px;
    margin: 5px auto;
    border: none;
    outline: none;
    background: #6A8372;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.search-to-do button:hover{
    box-shadow: 0 2px 2px 0 #ccc,0 2px 3px 0 #ccc;
    opacity: 0.7;
}

.show-search{
    /*position: fixed;
    top: 27%;
    left: 1%;
    width: 30%;
    height: 33%;
    background: #EBEDEF;
    margin: 0px auto;
    padding: 10px;
    border: 2.5px solid #5D6D7E;
    border-radius: 5px;
    color: #922B21;
    font-size: 20px;
    font-weight: bold;
    text-align: center;*/
    width: 30%;
    position: fixed;
    top: 30%;
    left: 1%;
    background: #EBEDEF;
    color: #922B21;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 30px 30px;
    padding: 10px;
    border-radius: 5px;
    border: 2.5px solid #5D6D7E;
}

.left{
    width: 3%;
    position: fixed;
    top: 33%;
    left: 3%;
}

.right{
    width: 3%;
    position: fixed;
    top: 33%;
    left: 29%;
}

.edit-to-do{
    width: 30%;
    position: fixed;
    top: 75%;
    left: 1%;
    background: #EBEDEF;
    margin: 30px 30px;
    padding: 10px;
    border-radius: 5px;
    border: 2.5px solid #5D6D7E;
}

.edit-to-do input{
    display: block;
    width: 95%;
    height: 40px;
    margin: 10px auto;
    border: 2.5px solid #85929E ;
    font-size: 16px;
    border-radius: 5px;
    padding: 0px 5px;
}

.edit-to-do button{
    display: block;
    width: 95%;
    height: 40px;
    margin: 5px auto;
    border: none;
    outline: none;
    background: #6A8372;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-to-do button:hover{
    box-shadow: 0 2px 2px 0 #ccc,0 2px 3px 0 #ccc;
    opacity: 0.7;
}

.edit-show{
    display: block;
    float: left;
    font-family: sans-serif;
    padding: 0px 5px 8px 0px;
    border-radius: 50%;
}

.checked{
    color: rgb(128, 4, 4) !important;
    text-decoration: line-through;
}

.todo-item input{
    margin: 0px 5px;
}

.empty{
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    color: #ccc;
}

.wrapper{
    width: 100%;
    display: inline-flex;
    align-items: center;
    display: flex;
    justify-content: center;
    /*text-align: right;*/
}

.wrapper .static{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}

.wrapper .dynamic{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.dynamic li{
    color: #FC6D6D;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 6s steps(1) infinite;
}

@keyframes slide{
    100%{
        top: -360px;
    }
}

.dynamic li span{
    position: relative;
    padding-bottom: 15px;
}

.dynamic li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #4D5139;
    border-left: 2px solid #FC6D6D;
    animation: typing 4s steps(20) infinite;
}

@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}